{
	"commandPrefix": "%",
	"defaults": {
		"userInfo": {
			"realname": "Jessie Jane",
			"ident": "jesi",
			"nick": "jesi"
		}
	},
	"servers": [
		{
			"name": "Snoonet",
			"host": "irc.snoonet.org",
			"port": 6697,
			"channels": ["#jesi", "#jesi-dev"],
			"channelRestrictions": {
				"#jesi-dev": "v"
			},
			"nsIdent": "Your NickServ identity",
			"nsPass": "Your NickServ password"
		}
	],
	"modules": [
		{
			"name": "ping pong",
			"description": "Play ping pong!",
			"path": "./modules/pingpong.js",
			"permissions": {
				"hasServerInfo": true,
				"hasIRCWriter": true
			}
		}, {
			"name": "modes",
			"description": "Channel mode echo",
			"path": "./modules/modes.js",
			"permissions": {
				"hasServerInfo": true,
				"hasIRCWriter": true
			}
		}
	]
}
