{
	"commandPrefix": "%",
	"defaults": {
		"userInfo": {
			"realname": "Jessie Jane",
			"ident": "jesi",
			"nick": "jesi"
		}
	},
	"servers": [
		{
			"name": "Snoonet",
			"host": "irc.snoonet.org",
			"port": 6697,
			"channels": ["#jesi", "#jesi-dev"],
			"channelRestrictions": {
				"#jesi-dev": "v"
			},
			"nsIdent": "Your NickServ identity",
			"nsPass": "Your NickServ password"
		}
	],
	"modules": [
		"./modules/pingpong.js",
		"./modules/modes.js",
		"./modules/cheer.js",
		"./modules/intensify.js",
		"./modules/looks.js",
		"./modules/choose.js",
		"./modules/decide.js"
	]
}
