{
	"commandPrefix": "%",
	"servers": [
		{
			"name": "Snoonet",
			"host": "irc.snoonet.org",
			"port": 6697,
			"channels": ["#jesi", "#jesi-dev"],
			"nsIdent": "Your NickServ identity",
			"nsPass": "Your NickServ password",
			"userInfo": {
				"realname": "Jessie Jane",
				"ident": "jesi",
				"nick": "jesi"
			}
		}
	],
	"modules": [
		{
			"name": "Register Client",
			"description": "IRC Client Registration",
			"path": "./modules/registerClient.js",
			"permissions": {
				"hasServerInfo": true,
				"hasIRCWriter": true
			}
		}, {
			"name": "ping pong",
			"description": "Play ping pong!",
			"path": "./modules/pingpong.js",
			"permissions": {
				"hasServerInfo": true,
				"hasIRCWriter": true
			}
		}
	]
}
